{
  "11155111": {
    "name": "Ethereum Testnet (Sepolia)",
    "address": "0xBbA433BE673Bb680c6fC1C252339b9B48830F32e",
    "private_key": "<PRIVATE KEY>"
  },
  "1": {
    "name": "Ethereum Testnet (Sepolia)",
    "address": "0xBbA433BE673Bb680c6fC1C252339b9B48830F32e",
    "private_key": "<PRIVATE KEY>"
  },
  "provider": {
    "name": "Cosmoshub Testnet",
    "address": "cosmo1sylrfxq34s56n5e322k8mmaxmqjvur38m87r97",
    "private_key": "<PRIVATE KEY>"
  },
  "cosmoshub-4": {
    "name": "Cosmoshub",
    "address": "cosmo1sylrfxq34s56n5e322k8mmaxmqjvur38m87r97",
    "private_key": "<PRIVATE KEY>"
  },
  "84532": {
    "name": "Base Testnet (Sepolia)",
    "address": "0xBbA433BE673Bb680c6fC1C252339b9B48830F32e",
    "private_key": "<PRIVATE KEY>"
  }
}
